$color-white: #ffffff;
$color-blue: #174359;
$color-grey: #E6E6E6;
$color-green: #4d7317;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,500,600,700');
$font-primary: 'Open Sans Condensed';
$font-secondary: 'Open Sans';
h1 {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 2.4em;
}

h2 {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 1.4em;
    color: $color-green;
}

h3 {
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

p {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px
}

.display {
    min-height: 90vh;
    height: auto;
    overflow-y: scroll;
    @media screen and (max-width: 600px) {}
    &-left {
        width: 40%;
        padding: 1.8em;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
    &-right {
        width: 60%;
        overflow: hidden;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    button {
        border: none;
        padding: 0.6em 1.2em;
        background-color: $color-green;
        border-radius: 1.2em;
        color: $color-white;
        font-family: $font-secondary;
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;
    }
}

.stepper {
    background-color: $color-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2em;
    width: 100%;
    position: fixed;
    bottom: 0;
    button {
        height: 1em;
        margin: auto;
        width: 1em;
        border: none;
        border-radius: 0.5em;
        background-color: $color-grey;
        cursor: pointer;
        &.active {
            background-color: orange;
        }
    }
}

.app {
    &-interface {
        font-family: $font-primary;
    }
    &-display {
        height: 80vh;
    }
}

.headsup {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}